<div id="at_footer">
	<div class="row">
		<div class="large-12 columns text-center">
			<div class="at_block">
				<div class="copyright">
					<span>&copy; {{date format="YYYY"}} <a href="{{@blog.url}}/">{{@blog.title}}</a></span>
				</div>
				<div class="poweredby">
				</div>
			</div>
		</div>
	</div>
</div>
