<div class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>Main Menu</label></li>
		<li><a class="at_menu_item" href="/"><span class="fa fa-home"></span> Home</a></li>
		<!-- <li><a class="at_menu_item" href="/about"><span class="fa fa-bar-chart-o"></span> About</a></li> -->
		<li><a class="at_menu_item" href="/teaching"><span class="fa fa-group"></span> Teaching</a></li>
		<li><a class="at_menu_item" href="/talks"><span class="fa fa-globe"></span> Talks</a></li>
	</ul>
</div>
