<div id="at_top">
	<div class="row">
		<div class="large-12 columns text-center">
			<div class="at_block">
				<a class="at_icon_menu_item" href="https://github.com/sethmcl"><span class="fa fa-github"></span> <span>Github</span></a>
				<a class="at_icon_menu_item" href="https://linkedin.com/in/sethmclaughlin"><span class="fa fa-linkedin"></span> <span>LinkedIn</span></a>
			</div>
		</div>
	</div>
</div>
