<section id="gralak-sidebar">
  <a class="photo" href="/about" style="background-image: url({{ asset "img/seth.png" }})">Learn more about Seth McLaughlin</a>
  <nav>
    <ul>
      <li class="link"><a href="/?writing">writing</a></li>
      <li class="link"><a href="/teaching">teaching</a></li>
      <li class="link"><a href="/speaking">speaking</a></li>
    </ul>
  </nav>
</section>
